main{
    display: flex;
    padding: 0 30px;
}
header{
    min-width: 236px;
    max-width: 250px;
    height: 40%;
    border: 5px ridge red;
    box-sizing: content-box;
    margin-right: 30px;
}
section{
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    min-width: 236px;
}
article{
    margin: 0 8px 8px 0;
}