

header{
    width: 100%;
    border: 5px ridge red;
    box-sizing: content-box;
}
section{
    column-count: 2;
    column-gap: 20px;
    column-width: fill-available;
}
article img{
    width: 100%;
}